/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/

.front {
	
	/*width: 200px;
	height: 200px;*/
	position: relative;
	transform: preserve-3d;
	

}

.back {

	position: absolute;
	top: 111px;

	opacity: 0;
	transform-style: preserve-3d;

	/*transition: opacity 1s ease-in-out;*/
	
	

}

.back:hover{
	opacity: 1;
	
	

}

.front:hover{
	opacity: 0;
	
	
}

.portfolio-item{
	perspective: 200px;
}

.portfolio-item:hover{
	postion: relative;
	
	-webkit-transform: rotate3d(0,180.0);

}

